### Tipos de Imóveis

In [2]:
import pandas as pd

In [3]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')

In [4]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [5]:
dados['Tipo']

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

In [6]:
dados.Tipo

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

In [7]:
tipo_imovel = dados.Tipo
tipo_imovel

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

In [9]:
type(tipo_imovel)

pandas.core.series.Series

In [12]:
tipo_imovel.drop_duplicates(inplace=True)
tipo_imovel

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object

### Oganizando a Visualização

In [13]:
tipo_imovel =  pd.DataFrame(tipo_imovel)

In [14]:
tipo_imovel

                              Tipo
0                        Quitinete
1                             Casa
2          Conjunto Comercial/Sala
3                      Apartamento
7               Casa de Condomínio
16                  Prédio Inteiro
17                            Flat
29                      Loja/Salão
80         Galpão/Depósito/Armazém
83                  Casa Comercial
117                   Casa de Vila
159                 Terreno Padrão
207                    Box/Garagem
347                           Loft
589    Loja Shopping/ Ct Comercial
2157                       Chácara
3354         Loteamento/Condomínio
4379                         Sítio
4721                 Pousada/Chalé
6983                        Studio
9687                         Hotel
23614                    Indústria

In [15]:
tipo_imovel.index

Int64Index([    0,     1,     2,     3,     7,    16,    17,    29,    80,
               83,   117,   159,   207,   347,   589,  2157,  3354,  4379,
             4721,  6983,  9687, 23614],
           dtype='int64')

In [17]:
tipo_imovel.shapeb

(22, 1)

In [18]:
range(tipo_imovel.shape[0])

range(0, 22)

In [20]:
for i in range(tipo_imovel.shape[0]):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [21]:
tipo_imovel.index =  range(tipo_imovel.shape[0])

In [22]:
tipo_imovel.index

RangeIndex(start=0, stop=22, step=1)

In [23]:
tipo_imovel

                           Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

In [26]:
tipo_imovel.columns.name = "id"

In [27]:
tipo_imovel

id                         Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

### Series

In [28]:
data = [1,2,3,4,5]

In [29]:
s = pd.Series(data)

In [30]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [32]:
index = ['Linha'+ str(i) for i in range(5)]

In [33]:
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [34]:
s = pd.Series(data, index)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [47]:
data = {'Linha'+ str(i): i +1 for i in range(5)}

In [48]:
data

{'Linha0': 1, 'Linha1': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [49]:
s = pd.Series(data)

In [50]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [51]:
s1 = s + 2

In [52]:
s1

Linha0    3
Linha1    4
Linha2    5
Linha3    6
Linha4    7
dtype: int64

In [53]:
s2 = s + s1

In [54]:
s2

Linha0     4
Linha1     6
Linha2     8
Linha3    10
Linha4    12
dtype: int64

### DataFrame

In [55]:
#lista de listas

data = [[1,2,3],[4,5,6],[7,8,9]]

In [56]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [57]:
df1 = pd.DataFrame(data)

In [58]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [59]:
index = ['Linha' + str(i) for i in range(3)]

In [60]:
index

['Linha0', 'Linha1', 'Linha2']

In [61]:
df1 = pd.DataFrame(data,index)

In [62]:
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [63]:
columns = ['Coluna' + str(i) for i in range(3)]

In [64]:
df1 = pd.DataFrame(data,index,columns = columns)

In [65]:
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [66]:
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [67]:
df1[df1 > 0] = 'A'

In [68]:
df1

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A

In [69]:
df2

NameError: name 'df2' is not defined

In [72]:
df2 =  df1[df1 > 0] = 'B'

TypeError: '>' not supported between instances of 'str' and 'int'

In [73]:
df2 = pd.DataFrame(data)

In [74]:
df2

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [75]:
df4 = pd.concat([df1,df2])

In [76]:
df4

       Coluna0 Coluna1 Coluna2    0    1    2
Linha0       A       A       A  NaN  NaN  NaN
Linha1       A       A       A  NaN  NaN  NaN
Linha2       A       A       A  NaN  NaN  NaN
0          NaN     NaN     NaN  1.0  2.0  3.0
1          NaN     NaN     NaN  4.0  5.0  6.0
2          NaN     NaN     NaN  7.0  8.0  9.0